.task {
    background: #FFFFFF;
    padding: 12px;
    border-radius: 4px;
    margin-top: 12px;
    transition: .25s;
}

.task:hover {
    cursor: pointer;
    background: #FAFAFA;
}

.task-title {
    font-size: 22px;
    color: #263238;
    font-weight: 700;
    
}

.task-description {
    color: #607D8B;
}

.task-actions {
    
}