.modal-backdrop {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.25);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal {
    max-width: 720px;
    background: #FFFFFF;
    border-radius: 6px;
    box-shadow: 0 0 10px rgba(0,0,0,.15);
}

.modal-title{
    border-bottom: 1px solid #cccccc;
    padding: 12px 24px;
    font-size: 22px;
    text-align: left;
}
.modal-body{
    padding: 24px;
}
.modal-footer{
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #cccccc;
    padding: 12px 24px;
}

