.board {
    background: #4C9AFF;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    overflow-x: auto;
}

.new-column {
    width: 100%;
    min-width: 250px;
    max-width: 250px;
    background: #EBECF0;
    padding: 12px;
    margin-top: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    height: 72px;
}

.new-column > p {
    background: #FFFFFF;
    padding: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    cursor: pointer;
    transition: .25s;
}

.new-column > p:hover {
    background: rgb(227, 252, 239);
    color: rgba(9, 30, 66, 0.71);
}

.new-column > p > i {
    margin-right: 12px;
}
