.column-wrapper {
    width: 100%;
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    padding: 12px;
}

.column-body {
    background: #B0BEC5;
    padding: 12px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.column-title {
    color: #263238;
    position: relative;
}

.add-new-task {
    position: absolute;
    right: 0;
    top: 0;
}

.add-new-task > i {
    margin-left: 8px;
    cursor: pointer;
}
